# Flutter / Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/
coverage/

# Android
android/.gradle/
android/build/

# iOS
ios/Pods/
ios/.symlinks/

# IDE
.vscode/
.idea/

# System files
*.log
*.tmp
*.exe
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.*
android/key.properties
**/*.keystore
**/*.jks

# Firebase (only config secrets)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Optional (if using Node/web tools)
node_modules/